* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --color-main-red: hsl(5, 85%, 63%);
  --color-main-orange: hsl(35, 77%, 62%);
  --color-dark: hsl(240, 100%, 5%);
  --color-medium: hsl(236, 13%, 42%);
  --color-light: hsl(233, 8%, 79%);
  --color-white: hsl(36, 100%, 99%);
  --font-wght-thin: 400;
  --font-wght-medium: 700;
  --font-wght-thick: 800;
  --padding-main: 5vw;
}
body {
    font-family: Inter, sans-serif;
}

/* start header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - var(--padding-main) * 4);
    margin-inline: auto;
    padding: var(--padding-main) 0;
}
nav ul {
    list-style-type: none;
    display: flex;
}
nav li {
    margin-right: 3rem;
}
nav a {
    text-decoration: none;
    color: var(--color-medium);
}
/* end header */

p {
    font-size: calc(1rem * 15 /16);
    color: var(--color-medium, gray);
}

/* start footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* end footer */