* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --color-main-red: hsl(5, 85%, 63%);
  --color-main-orange: hsl(35, 77%, 62%);
  --color-dark: hsl(240, 100%, 5%);
  --color-medium: hsl(236, 13%, 42%);
  --color-light: hsl(233, 8%, 79%);
  --color-white: hsl(36, 100%, 99%);
  --font-wght-thin: 400;
  --font-wght-medium: 700;
  --font-wght-thick: 800;
  --padding-main: 5vw;
}
body {
    font-family: Inter, sans-serif;
}
.container {
    width: calc(100% - var(--padding-main) * 4);
    margin-inline: auto;
}

/* start header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-main) 0;
}
nav ul {
    list-style-type: none;
    display: flex;
}
nav li {
    margin-right: 3rem;
}
nav a {
    text-decoration: none;
    color: var(--color-medium);
}
/* end header */

/* start main */
main img {
    display: block;
    max-width: 100%;
}
p {
    font-size: calc(1rem * 15 /16);
    color: var(--color-medium, gray);
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--padding-main) / 2);
}

.main-news {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.main-news img {
    grid-column: span 2;
}

aside.horizontal {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--padding-main) / 2);
}
.img-article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: calc(var(--padding-main) / 2);
    line-height: 1.7;
}
.img-article .index {
    color: var(--color-light, lightgray);
    font-size: 2rem;
    font-weight: var(--font-wght-medium);
}
.img-article h3 {
    color: var(--color-dark, black);
    font-size: 1.1rem;
    font-weight: var(--font-wght-thick);
}
/* end main */

/* start footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* end footer */